<%= bootstrap_form_for @form, layout: :horizontal  do |f| %>
  <%= f.text_field :name %>
  <%= f.text_area :description %>
  <%= f.form_group do %>
    <button type="submit" class="btn btn-success">
      <i class="fa fa-paper-plane-o"></i> Make a Wish
    </a>
  <% end %>
<% end %>
