<div class="comment-system">
  <h3><i class="fa fa-comments"></i> Comments</h3>
  <ul class="comments-list">
    <% if snack.comments.count > 0 %>
      <% snack.comments.each do |comment| %>
        <%= render 'comments/comment', comment: comment %>
      <% end %>
    <% else %>
      <li>No comment yet...</li>
    <% end %>
  </ul>
  <%= render 'comments/form', snack: snack %>
</div>