.comment-system {
  margin-bottom: 100px;
  margin-top: 20px;
  @include border-radius(6px);
  background-color: #fff;
  h3 {
    @include title;
  }
  #new_comment {
    background-color: #fafafa;
    @include border-radius(0 0 6px 6px);
    border-top: 1px solid #cecece;
    padding:  5px 20px 20px 20px;
  }
  #comment_content {
    margin-bottom: 12px;
  }
  .comments-list {
    margin: 0;
    background-color: #fafafa;
    padding: 20px;
    .content {
      color: #95a5a6;
    }
    .media-heading {
      color: #354458;
      span {
        font-size: 14px;
        font-weight: normal;
        color: #95a5a6;
      }
    }
  }
}